{% extends 'header.html' %}

{% block title %}
Home Page


{% endblock %}

{% block content %}



<br>

<div class="container">
  <div class="jumbotron">
    <h1>Website Name</h1>      
    <p>We Provide a Way where the user can Review Stock Market Courses and see the Review of other People to 
    take a better descision while taking any course.</p>

</div>

  </div>

  <hr>

  <div class="container">

  <h3>Popluar Course</h3>

  <div class="card-columns">
  <img class="card-img-top" src="https://dummyimage.com/400x200/000/fff" alt="Card image">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the first card</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  
  <div class="card bg-warning">
  <img class="card-img-top" src="https://dummyimage.com/400x200/000/fff" alt="Card image">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card bg-success">
  <img class="card-img-top" src="https://dummyimage.com/400x200/000/fff" alt="Card image">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the third card</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card bg-danger">
  <img class="card-img-top" src="https://dummyimage.com/400x200/000/fff" alt="Card image">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the fourth card</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card bg-light">
  <img class="card-img-top" src="https://dummyimage.com/400x200/000/fff" alt="Card image">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the fifth card</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
  <div class="card bg-info">
  <img class="card-img-top" src="https://dummyimage.com/400x200/000/fff" alt="Card image">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the sixth card</p>
      <a href="#" class="btn btn-primary">See Profile</a>
    </div>
  </div>
</div>
</div>

<div class="container p-4">
       <p class="text-center"><a href="#" class="btn btn-primary">See All Courses</a></p>
</div>


{% endblock %}